.mission {
  background-image: url(../images/img-mission-background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  height: 700px;
}

.mission__content {
  top: 300px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.mission__content-title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mission__content-text {
  margin: 0;
  padding-bottom: 10px;
}
